<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Folder</title>
</head>
<body>
    <h1>You will create new folders here</h1>

    <form action="/folders" method="POST">
        <label for="name">Folder Name</label>
        <input type="text" id="folderName" name="name" required>
        <button type="submit">Create Folder</button>
    </form>
</body>
</html>